# PYTHON & VIRTUAL ENVS
__pycache__/
*.pyc
**/venv/

# LOGI I PLIKI TYMCZASOWE
*.log
pass.txt

# HOME ASSISTANT — SEKRETY I KLUCZE GOOGLE
config/hassio/secrets.yaml
config/hassio/fearer-*.json
config/hassio/html5_push_registrations.conf
.env
*.key
*.token

# HOME ASSISTANT — DANE RUNTIME (BAZY I CACHE)
config/hassio/*.db*
config/hassio/**/*.db*
config/hassio/.storage/
config/hassio/deps/
config/hassio/tts/
config/hassio/image/
config/hassio/zigbee2mqtt/state.json
config/hassio/custom_components/

# SSH SECURITY
.ssh/
id_rsa
id_rsa.pub
known_hosts
authorized_keys

# REPOZYTORIA ZEWNĘTRZNE
external/omramin/*.*
external/export2garmin/*.*
user/